.btn-custom {
  max-width: 200px;
  background-color: var(--netflix-red);
  color: var(--netflix-white);
  border: none;
  border-radius: 2px;
  width: 120%;
  font-size: 22px;
}

.btn-signin {
  width: 100px; /* تصغير عرض زر "Sign In" */
  font-size: 16px;
}

.select-custom {
  background-color: rgba(0, 0, 0, 0.7); 
  color: white; 
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 2px;
  width: auto; /* الحفاظ على العرض الافتراضي للـ select */
}

.select-custom option {
  color: black;
}

.email-input {
  max-width: 250px;
  margin-right: 30px;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white; 
  border: 1px solid white;
  padding: 0.5rem;
}

.email-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}


  