.faq-section {
    background-color: var(--netflix-black); /* خلفية داكنة */
    color: #fff; /* لون النص أبيض */
    display: flex;
    justify-content: center; /* توسيط القسم أفقيًا */
    align-items: center; /* توسيط القسم عموديًا */
    min-height: 100vh; /* ارتفاع القسم ليملأ الشاشة */
    border-top: 10px solid var(--netflix-gray); /* لون البوردر العلوي */
}

.faq-section .container {
    max-width: 800px; /* تقليل عرض الحاوية */
}

.accordion-button {
    background-color: var(--netflix-gray); /* خلفية داكنة للزر */
    color: #fff; /* لون النص */
    border: 1px solid var(--netflix-gray); /* لون الحدود مطابق لخلفية الزر */
    font-size: 1.25rem; /* حجم خط أكبر */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* تأثير الانتقال لخلفية الزر والحدود */
}

.accordion-button.collapsed {
    background-color: #333; /* خلفية داكنة للزر عند التوسع */
    border-color: #333; /* لون الحدود مطابق للخلفية عند التوسع */
}

.accordion-button:hover {
    background-color: #555; /* تغيير الخلفية عند تمرير الماوس */
    border-color: #555; /* تغيير لون الحدود عند تمرير الماوس */
}

.accordion-body {
    background-color: #555; /* خلفية داكنة لجسم الـ Accordion */
    color: #fff; /* لون النص */
    padding: 1rem; /* مسافة داخلية أكبر */
}

.accordion-item {
    border: none; /* إزالة الحدود الافتراضية حول العناصر */
    margin-bottom: 1rem; /* مسافة أسفل كل عنصر Accordion */
}
