.ts-div-main{
    background-color: black;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.ts-h2-trending{
    font-size: 1.3rem;
    font-weight: 500;
}

.ts-div-dropdown{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.ts-select{
    /* background-color: transparent; */
    background: rgba(22, 22, 22, 0.7);
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.4rem;
    text-align: center;
    border: 0.0625rem solid ;
    outline: none;
    border-radius: 0.25rem;
    border-color:  rgba(128, 128, 128, 0.7);
    width: 100%;
    text-align: start;
}

.ts-select:focus{
    outline: rgb(255, 255, 255) solid 0.125rem;
    outline-offset: 0.125rem;
}