.input-text-container {
  position: relative;
}

.label {
  color: var(--netflix-gray);
  position: absolute;
  left: 1rem;
  top: 5px; /* 1rem */
  transition: 0.3s;
  pointer-events: none;
  font-size: 15px; /* not exist */
}
.input-text {
  background-color: #161616b3;
  border: 1px solid #5f5f5e;
  border-radius: 5px;
  width: 100%;
}
/* .input-text:focus + .label {
  top: 5px;
  font-size: 13px;
} */
